[submodule "zsh/oh-my-zsh.symlink"]
	path = zsh/oh-my-zsh.symlink
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/lib.symlink/z"]
	path = zsh/lib.symlink/z
	url = https://github.com/rupa/z.git
[submodule "zsh/lib.symlink/bd"]
	path = zsh/lib.symlink/bd
	url = https://github.com/Tarrasch/zsh-bd.git
[submodule "zsh/lib.symlink/zshmarks"]
	path = zsh/lib.symlink/zshmarks
	url = git://github.com/jocelynmallon/zshmarks.git
[submodule "vim.symlink/bundle/vundle"]
	path = vim.symlink/bundle/vundle
	url = https://github.com/gmarik/vundle.git
