'exception-reporting':
  'userId': '47dc3de2-7062-e1f1-6798-383ca48daae3'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '99b0acd5b52b8a69511727d23804bbd005d2a153'
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
'editor':
  'fontFamily': 'ANDALE MONO'
  'fontSize': 13
